html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}



h1{
    color: #000;
}

h1 span{
    color: #037bc0;
}

.nombre-sitio {
    margin-top: 100px;
    padding-bottom: 100px;
}

.enlace {
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    color: #037bc0;
}


/* Box model */
.sobre-nosotros{
    background-color: red;
    width: 200px;
    padding: 25px;
}



