html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* Globales */

a{
    text-decoration: none;
    color: #000;
}

.contenedor {
    max-width: 1200px;
    margin: 0 auto;
    margin-inline: auto;
}

img{
    max-width: 100%;
}


/* Header y Navegacion */



.nombre-sitio {
    margin-top: 100px;
    padding-bottom: 100px;
    text-align: center;
}

.nombre-sitio span{
    color: #037bc0;
}

.contenedor-navegacion{
    border-top: 1px solid #e1e1e1;

}

.nav-princial {
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
}

.hero {

    background-image: url(../img/principal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
}


/* Categorias */

.listado-categorias{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}



